@media (max-width:320px) {

   #searchInput{
    width: 74%;
    height: 40px;
   }
   .banner{
    width: 78%;
   }
   #btn-search{
    width: 65px;
    height: 40px;

   }
   .first-page{
    height: 80vh;
   }
   .container{
    width: 270px;
    height: 53vh;
   }
   .container img{
    width: 230px;
   }
   header{
    padding: 1rem;
   }
   nav ul{
    margin: 0;
   }
   nav ul li a{
    font-size: 10px;
   }
   h2{
    font-size: large;
    margin: 25px 0 0 40px;
   }
   #loginBtn{
    margin-left: 0;
   }
   .contact-section{
    flex-direction: row;
    padding: 0;
    height: auto;

    }
    .left{
        min-width: 305px;
        height: 440px;
        margin: auto;
    }
    .left-items{
        width: 83%;
        margin: 50px auto;
    }
    .right{
        min-width: 305px;
        height: 440px;
        margin: auto;

    }
    #queries {
        margin: 0;
        text-align: center;
    }
    .banner {
        width: 78%;
        padding-top: 150px;
    }
    h4{
        text-align: center;
        font-size: 1rem;
        margin: 20px 0;
    }
}
@media (max-width:425px) and (min-width:321px){
    #searchInput{
        width: 76%;
        height: 40px;
       }
       .banner{
        width: 80%;
       }
       #btn-search{
        width: 60px;
        height: 40px;
        margin-top: 5px;
       }
       .first-page{
        height: 80vh;
       }
       nav ul{
        margin: 0 0 0 1rem;
       }
       nav ul li a{
        font-size: 10px;
       }
       header{
        padding: 1rem;
       }
       #loginBtn{
        margin-left: 0;
       }
       .contact-section{
        flex-direction: row;
        padding: 3%;
        height: auto;
       }
       .left{
        min-width: 305px;
        height: 440px;
        margin: auto;
    }
    .left-items{
        width: 83%;
        margin: 50px auto;
    }
    .right{
        min-width: 305px;
        height: 440px;
        margin: auto;

    }
    #queries {
        margin: 0;
        text-align: center;
    }
    .banner {
        width: 78%;
        padding-top: 150px;
    }
    h4{
        text-align: center;
        font-size: 1rem;
        margin: 20px 0;
    }
}

/* Media Queries for Mobile */
@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #520c61;
        flex-direction: column;
        align-items: center;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-icon {
        display: inline-block;
        /* margin-left: 10px; */
    }
    #loginBtn{
        margin-left: 0;
    }
    .modal-content{
        width: 80%;
    }
    .contact-section{
        flex-direction: row;
        padding: 3%;
        height: auto;
       }
       .left{
        min-width: 305px;
        height: 440px;
        margin: auto;
    }
    .left-items{
        width: 83%;
        margin: 50px auto;
    }
    .right{
        min-width: 305px;
        height: 440px;
        margin: auto;

    }
    #queries {
        margin: 0;
        text-align: center;
    }
    .banner {
        width: 78%;
        padding-top: 150px;
    }
    h4{
        text-align: center;
        font-size: 1rem;
        margin: 20px 0;
    }
}