*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background:transparent;
    box-shadow:inset 0 0 3px #520c61;
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #520c61;
    /* background-image: linear-gradient(to right, white, #520c61); */
}
::-webkit-scrollbar-thumb:hover{
    background: #520c61;
}
/* first  */
/* nav{
    height: 14vh;
    width: 100%;
    background-color: #520c61;
}
a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
    margin: 100px 0  0 0;
}

nav ul{
    display: flex;
}
.elements img{
    width: 165px;
    height: auto;
}
.elements ul a{
    color: white;
    text-decoration: none;
}
.elements ul li{
    padding: 30px 0 0 20px;
} */
/* second */
header {
    background: #520c61;
    color: #fff;
    padding: 2rem 0;
}
.banner{
    width: 50%;
    height: 70vh;
    background-color: transparent;
    margin: auto;
    margin-top: 3rem;
    /* padding-top: 12rem; */
}
.first-page{
    width: 100%;
    height: 90vh;
    align-items: center;
}
.search-container {
    width: 100%;
    margin: 50px auto;
    /* display: flex; */
    position: relative;
  }

  #searchInput {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    display: block;
    border: 2px solid #520c61;
}
.flex{
    display: flex;
}
#btn-search{
    margin: 0 0 0 10px;
    height: inherit;
}
  .suggestions-list {
    list-style: none;
    margin: 0;
    padding: 0;
    position:relative;
    width: 82%;
    /* overflow: hidden;
    overflow-y: scroll; */
    /* overflow-y: hidden; */
    /* height: 20px; */
    background-color: white;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    display: none;
  }
div::-webkit-scrollbar{
    display: none;
}

  .suggestion-item {
    display: block;
    /* padding: 1px; */
    height: 25px;
    margin: 20px 0 0 5px;
    text-decoration: none;
    color: black;
    font-weight:400;
  }

  .suggestion-item:hover {
    background-color: #520c61;
    color: white;

  }
  input{
    padding: 10px;
    border-color: #520c61;
    outline: none;
    font-weight: bold;

}
input:hover{
    box-shadow: 0 0 15px 2px #520c61;
}


/* input{
    padding: 10px;
    border-color: #520c61;
    outline: none;
    font-weight: bold;

}
input:hover{
    box-shadow: 0 0 15px 2px #520c61;
}
.search-bar input{
    width: 90%;
    height: 8vh;
    border: 3px solid #520c61;
    margin: 4.5%;
} */

/* .search-container {
    position: relative;
    max-width: 300px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-right: 10px;
    box-sizing: border-box;
  }
  
  button {
    padding: 8px;
  }
  
  ul {
    margin-top: 10px;
    padding-left: 0;
    list-style-type: none;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    display: none;
  }
  
  ul li {
    padding: 8px;
    cursor: pointer;
  }
  
  ul li:hover {
    background-color: #f0f0f0;
  }
  
  .hidden {
    display: none;
  } */
  

/* .search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
} */

/* #search-input {
    padding: 10px;
    width: 250px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

#search-results {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#search-results li {
    padding: 8px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 5px 0;
}

#search-results li.hidden {
    display: none;
} */
.banner img{
    width: 50%;
    margin: 2% 2% 0 23%;
}

/* nav{
    position: fixed;
    z-index: 1;
} */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0 0 0 2rem;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}
nav ul li a:hover{
    text-shadow: 2px 2px 8px white;
}

li{
    list-style: none;
}
a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
    margin: 100px 0  0 0;
}
h2{
    margin: 25px 0 0 50px;
    color: #520c61;
}
.container{
    width: 300px;
    height: 55vh;
    border-radius: 3px;
    background-color: white;
    margin: 25px 0 40px 25px;
    display: inline-block;
    box-shadow: 0 0 7px 1px grey;
    transition: 200ms;
    -webkit-transition: 200ms;
    -moz-transition: 200ms;
    -ms-transition: 200ms;
    -o-transition: 200ms;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.container:hover{
    transform:translate(5px, 5px);
    z-index: 2;
    -webkit-transform:translate(5px, 5px);
    -moz-transform:translate(5px, 5px);
    -ms-transform:translate(5px, 5px);
    -o-transform:translate(5px, 5px);
}
.container img{
    width: 260px;
    height: 30vh;
    margin: 20px 20px 0 20px;
}
p{
    font-weight: bold;
    margin: 10px 0 10px 20px;
}
#channel{
    font-weight:normal;
    /* display: inline-block; */
}
button{
    background-color: #520c61;
    color: white;
    width: 100px;
    height: 40px;
    font-weight: bold;
    border: none;
    margin: 2px 0 10px 20px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
button:hover{
    box-shadow:0 0 10px 5px #520c61;
    cursor: pointer;
}
footer {
    background: #520c61;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    bottom: 0;
}